
// Fonts
@import url(https://fonts.googleapis.com/css?family=Bitter|Varela+Round);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// FontAwesome
@import "vendor/fort-awesome-sass/font-awesome";

// Styles

body {
	background:$dark-blue;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $font-family-serif;
}

p {
	color:$paragraph-color;
}

.page-header {
	font-weight:800;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
    margin-top: 0;
    padding: 25px;
    margin-left: -25px;
    margin-right: -25px;
}

// Bootstrap Overrides
.panel {
	border-radius: 0px;
}

.navbar-default {
	background: #f3f3f3;
	margin-bottom:0px;
	border: none;

	.navbar-header {
		background: $dark-blue;
	    float: left;
	    text-align: center;
	    height: 70px;
	    position: relative;
	    width: 225px;
	    z-index: 1;

	    img {
	    	width: 35px; 
	    	float: left;
	    	margin-top:-8px;
	    	margin-right: 4px;
	    }
	}

	.navbar-brand {
		font-family: $font-family-serif;
		font-weight:600;
	    letter-spacing: 2px;
	    text-transform: uppercase;
	    padding:25px 35px 0px 35px;
	    height:50px;
	    width:100%;
		color:#fff;
			&:hover {
				color:darken(#fff, 20%);
			}

			span {
				color:darken(#fff, 30%);
			}
	}

	.navbar-nav {
		p {
		    padding-top: 25px;
		    padding-left: 25px;
		}

		li {
			a {
    			padding-top: 25px;
    			padding-bottom: 23px;
   			}
		}
	}
	
	.navbar-right {
		margin-right:0px;
		padding-right:20px;
	}

}

.secondary-navbar {
    background: #e4e4e4;
    border-bottom: 1px solid #d4d4d4;
	min-height: 44px;

	.navbar-nav > li > a {
	    line-height: 22px;
	}

	.half-nav {
		width:50%;
	}
}

.main-sidebar {
	background:$dark-blue;
    width: 225px;
    padding-top: 10px;
    z-index: 10;
    padding-left: 0;
    padding-right: 0px;
    position: absolute;
    left: 0;
    z-index: 100;
    float: left;

    h5 {
	    padding-left: 15px;
	    padding-right: 15px;
    }

    .list-group {
    	margin-bottom:15px;
    	a {
    		background: transparent;
    		border: none;
    		color:#98a6ad;

    		&:hover {
	    		background:$darker-blue;
	    		border-color:$darker-blue;
    		}
       	}
    }
}

.primary-content {
    margin-left: 225px;
    min-height: 1000px;
    padding-left: 25px;
    background: #fff;
    padding-right: 25px;
    padding-bottom: 100px;
}


.footer-panel {
    border-top: 1px solid rgba(152, 166, 173, 0.2);
    background: #fff;
    text-align: left !important;
    padding: 25px;
    position: absolute;
    right: 0;
    left: 225px;

    p {
    	margin-bottom:0px;
    }
}


// Helpers

.label-red {
	background:$red;
}

.mb0 {
	margin-bottom:0px !important;
}

.mb10 {
	margin-bottom:10px !important;
}

.mb20 {
	margin-bottom:20px !important;
}

.mb30 {
	margin-bottom:30px !important;
}

.mb40 {
	margin-bottom:40px !important;
}

.mt0 {
	margin-top:0px !important;
}

.mt10 {
	margin-top:10px !important;
}

.mt20 {
	margin-top:20px !important;
}

.mt30 {
	margin-top:30px !important;
}

.mt40 {
	margin-top:40px !important;
}

.ml0 {
	margin-left:0px !important;
}

.ml10 {
	margin-left:10px !important;
}

.ml20 {
	margin-left:20px !important;
}

.ml30 {
	margin-left:30px !important;
}

.ml40 {
	margin-left:40px !important;
}

.mr0 {
	margin-right:0px !important;
}

.mr10 {
	margin-right:10px !important;
}

.mr20 {
	margin-right:20px !important;
}

.mr30 {
	margin-right:30px !important;
}

.mr40 {
	margin-right:40px !important;
}
