
// Body
$body-bg: #fff;

// Borders
$border-color: darken($body-bg, 10%);
$list-group-border: $border-color;
$navbar-default-border: $border-color;
$panel-default-border: $border-color;
$panel-inner-border: $border-color;

// Brands
$brand-primary: #3ac9d6;
$brand-info: #8eb4cb;
$brand-success: #4bd396;
$brand-warning: #f9c851;
$brand-danger:  #f5707a;

// Colors
$carbon-grey: #2c2f2f;
$dark-blue: #36404e;
$darker-blue: #313a46;
$red:#f5707a;
$darker-red: #f35864;
$paragraph-color: #777;

// Typography
$font-family-serif: "Bitter", serif;
$font-family-sans-serif: "Varela Round", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
